.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
}


.example-h2 {
  margin: 10px;
}

#hardwareForm .div-example .example .example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

hardwareForm .example-margin {
  margin: 0 10px;
}

:host-context(#hardwareForm .example-section) {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}


